.main-cv {
    width: 800px;
    border: 1px solid black;
    background-color: white;
}

.cv-personal-details {
    background-color: var(--cv-personal-details-background);
    min-height: 50px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(3, 1fr);
    color: white;
}

.cv-personal-details-sub-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
    min-height: 0;
    padding: 15px;
}

.cv-full-name {
    grid-column: span 3;
    font-size: 2rem;
}

.cv-education {
    margin: 20px auto;
    padding: 10px 30px;
}

.cv-section-header {
    text-align: center;
    padding: 10px 0;
    background-color: var(--primary-background);
    margin-bottom: 20px;
    justify-content: center;
    font-weight: 700;
    color: var(--cv-personal-details-background);
}


.school {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 200px auto;
    margin-bottom: 25px;
}

.sub-school {
    padding: 5px 0;
}

.sub-school-name {
    font-weight: 700;
}
