form {
    display: flex;
    flex-direction: column;
    border: 1px solid #d4d4d8;
    width: 260px;
    padding: 10px;
}


input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #d4d4d8;
    outline: none;
    width: 250px;
}

input:focus {
    border: 1px solid blue;
}

textarea {
    height: 100px;
    width: 250px;
}

input, textarea {
    margin-bottom: 10px;
}
