
.collapsable {
    width: 280px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin: 30px 0;
    position: relative;
    padding-left: 10px;
    height: 60px;
    cursor: pointer;
}

.collapsable p {
    font-size: 1.5rem;
    font-weight: 500;
}

.rotated {
    transform: rotate(180deg);
}

.form-hidden {
    display: none;
}

.form-visible {
    display: flex;
}

.triangle-icon {
    position: absolute;
    right: 10px;
    transition: transform 0.3s ease;
}

