.resume-header {
    background-color: #1e293b;
    color: #e4e4e7;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.header-item {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.full-name {
    font-size: 2rem;
    grid-column: 1 / -1;
}

.header-item:not(.full-name) {
    cursor: pointer;
}