

.education-section-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 200px 1fr;
}

.education-section-item {
    display: flex;
    align-items: center;
}

.school-name {
    font-size: 1.3rem;
}