.sidebar {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin-left: 10px;
}


.sidebar-section {
    background-color: white;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
}

.sidebar-section-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

form {
    flex-direction: column;
}


input {
    height: 40px;
    width: 300px;
}

textarea {
    height: 80px;
}

input, textarea {
    margin-bottom: 20px;
    border: none;
    background-color: var(--primary-background);
    border-radius: 5px;
}

input:focus, textarea:focus {
    outline: 2px solid blue;
}


.accordion {
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
}

.accordion-content {
    flex-direction: column;
    width: 100%;
}

.item-list {
    font-size: 1.5rem;
    font-weight: 500;
    justify-content: flex-start;
    padding-left: 10px;
    width: 100%;
    padding: 10px;
}

.accordion, .item-list {
    width: 100%;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.item-list p {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}


.btns {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-btn {
    color: white;
    background-color: rgb(0% 65.1% 24.2%);
    margin: 15px auto;
}

.delete-btn {
    background-color: rgb(98.3% 17.2% 21.3%);
    color: white;
}

.cancel-btn {
    color: black
}

.save-btn {
    background-color: rgb(0% 51.8% 82%);
    margin-left: auto;
    margin-right: 10px;
    color: white;
}


li {
    list-style-type: none;
}




.chervon-up-icon {
    transition: transform 0.3s ease;
}

.rotated {
   transform: rotate(180deg);
}

