:root {
    --primary-background: rgb(96.1% 96.1% 96.1%);
    --cv-personal-details-background: rgb(0% 34.9% 54%);
}


body {
    background-color: var(--primary-background);
    font-family: sans-serif;
}

.app {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 30px;
}

.visible {
    display: flex;
}

.hidden {
    display: none;
}


.icon {
    height: 20px;
    width: 20px;
}

.icon-accordion {
    height: 25px;
    width: 25px;
}
